body {
    -webkit-user-select: none;
    user-select: none;
    color: #ccc;
    overflow: hidden;
}

.contenitore {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    top: 50%;
    right: 1%; 
    width: 15vw;
    height: 4vh;
    transform: translateY(-50%); 
    background-color: #1f1f1f;
    filter: drop-shadow(0 10px 8px rgba(20, 20, 20, 0.062)) drop-shadow(0 4px 4px rgb(37, 37, 39));
    padding: 10px;
    border-radius: 2vh;
    overflow: hidden; 
	
}

.contenitore_tasto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #1864ab2c;
    color: #71b4f3;
    font-size: 24px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    border-radius: 1.5vh;
    margin-right: 3vh; 
}

.contenitore_testo {
    color: #b8b8b8;
    font-size: 24px; 
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    overflow-wrap: break-word; 
    word-wrap: break-word; 
    white-space: normal; 
    max-width: 80%; 
}
